{% extends "base.html" %}

{% block title %}
CO2 Emissions
{% endblock %}

{% block body %}
<br><br><br><br>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../static/d3-tip.js"></script>
<center>

  <button class="btn btn-success btn-lg" id="change_graphs">Change to Line Graph</button>
  <br><br>
  <p id="description">Select from a range of years here!</p>
  
  <form>
    <select class="selectpicker" name="year" id="year">
      <option value="1901">1901 - 1910</option>
      <option value="1911">1911 - 1920</option>
      <option value="1921">1921 - 1930</option>
      <option value="1931">1931 - 1940</option>
      <option value="1941">1941 - 1950</option>
      <option value="1951">1951 - 1960</option>
      <option value="1961">1961 - 1970</option>
      <option value="1971">1971 - 1980</option>
      <option value="1981">1981 - 1990</option>
      <option value="1991">1991 - 2000</option>
      <option value="2001">2001 - 2010</option>
    </select>
  </form>
    <br>
  
  <svg id="plotchart" width="1300" height="600" style="border:4px solid green"></svg>
</center>

<br>
<center>
  <button class="btn btn-success" id="pie">Hide Pie Chart</button>
  <br><br>
  <b style="color:green" id="desc"> Hover over each pie piece to see specifics. </b>
</center>
<br>
<center>
  <button class="btn btn-info" id="change">+10 Years</button>
  <button class="btn btn-warning" id="change1">-10 Years</button>
  <b style="color:white">hello</b>
  <b id="label" style="color:green">Currently showing: 1901</b>
  <div id="my_dataviz"></div>
</center>
	
  

<br><br>

<style>
  
  .#bar {
      fill: #83ee72 ;
  }

  .bar:hover {
      fill:  #1a9a05 ;
  }

  .axis {
      font: 10px sans-serif;
  }

  .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 8px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 2px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.5);
      content: "\25BC";
      position: absolute;
      text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
  }

  div.tooltip-pie {
     position: absolute;
     text-align: center;
     padding: .5rem;
     background:  #c4fac3 ;
     color: #313639;
     border: 1px solid #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 1rem;
}

  
</style>

<script>

  // retrieve the data
  var cdatas = {{ globalEmissions }}
  var countryEmissions = {{ countryCO2 | safe }}
  
  var create_dict = function(data) {
      var dict = [];
      for(i = 0; i < 110; i++) {
	  key = Object.keys(data)[i];
	  dict[i] = { "Year" : key, "Total" : data[key] }
      };
      return dict;
  }

  // some helper functions!
  var pick = function (obj, props) {

      'use strict';

      // Make sure object and properties are provided
      if (!obj || !props) return;

      // Create new object
      var picked = {};

      // Loop through props and push to new object
      props.forEach(function(prop) {
	  picked[prop] = obj[prop];
      });

      // Return new object
      return picked;

  };

  // the big dictionary
  var cdata = create_dict(cdatas);

  ///////////////// LINE GRAPH ///////////////// 


  var render_line_graph = function(e) {
    
      var plot = d3.select("#plotchart"),  // initialize the space for the graph
	  margin = 200,
	  width = plot.attr("width") - margin,
	  height = plot.attr("height") - margin

      var p = plot.append("g") // sets the boundaries for the actual graph
	  .attr("transform", "translate(" + 100 + "," + 100 + ")");
    
      plot.append("text")  // graph title
	  .attr("transform", "translate(100,0)")
	  .attr("x", 400)
	  .attr("y", 50)
	  .attr("font-size", "28px")
	  .text("CO2 Emissions vs. Years")

      pxScale = d3.scaleTime()  // retrieve x axis data
	  .domain(d3.extent(cdata, function(d) { return d3.timeParse("%Y")(d.Year); }))
	  .range([0, width])
	  .nice();
      xAxis = p.append("g")  // append the x axis
	  .attr("transform", "translate(0," + height + ")")
	  .call(d3.axisBottom(pxScale))
	  .attr("class", "cows")
	  .append("text")
	  .attr("font-size", "14px")
	  .attr("x", 550)
	  .attr("y", 50)
          .attr("stroke", "black")
          .text("Years");

      pyScale = d3.scaleLinear() // retireve the y axis data
        .domain([0, d3.max(cdata, function(d) { return +d.Total; })])
        .range([height, 0])
        .nice();
        yAxis = p.append("g")  // append the y axis
          .attr("class", "cars")
          .attr("x", -50)
          .call(d3.axisLeft(pyScale))
          .append("text")
          .attr("transform", "rotate(-90)")
          .attr("dy", "-4.5em")
          .attr("dx", "-4.0em")
          .attr("font-size", "14px")
          .attr("stroke", "black")
          .text("Total carbon emissions (million metric tons of C)");

      var clip = p.append("defs").append("svg:clipPath")  // for the brushing
          .attr("id", "clip")
          .append("svg:rect")
          .attr("width", width )
          .attr("height", height )
          .attr("x", 0)
          .attr("y", 0);
      
      // Add brushing
      var brush = d3.brushX()                   // Add the brush feature using the d3.brush function
          .extent( [ [0,0], [width,height] ] )  // initialise the brush area: start at 0,0 and finishes at width,height: it means I select the whole graph area
          .on("end", updateChart)               // Each time the brush selection changes, trigger the 'updateChart' function

      // Create the line variable: where both the line and the brush take place
      var line = p.append("g")
	  .attr("clip-path", "url(#clip)")

      line.append("path")
	  .datum(cdata)
	  .attr("class", "line")
	  .attr("fill", "none")
	  .attr("stroke", "green")
	  .attr("stroke-width", 2)
	  .attr("d", d3.line()
		.x(function(d) { return pxScale(d3.timeParse("%Y")(d.Year)) })
		.y(function(d) { return pyScale(+d.Total) }));

      line
	  .append("g")
          .attr("class", "brush")
          .call(brush);

      
      var idleTimeout
      function idled() { idleTimeout = null; }

      function updateChart() {  

	  // What are the selected boundaries?
	  extent = d3.event.selection
	  // If no selection, back to initial coordinate. Otherwise, update X axis domain
	  
	  if(!extent) {
	      if (!idleTimeout) return idleTimeout = setTimeout(idled, 100); // This allows to wait a little bit
	      pxScale.domain([4,8])
	  }
	  else {
	      pxScale
		  .domain([ pxScale.invert(extent[0]), pxScale.invert(extent[1]) ])
	      line.select(".brush").call(brush.move, null) // This remove the grey brush area as soon as the selection has been done
	  }

	  // Update axis and line position
	  plot.select('.cars') // the y-axis
	      .transition()
	      .duration(1000)
	      .call(d3.axisLeft(pyScale));
	  plot.select('.cows') // the x-axis
	      .transition()
	      .duration(1000)
	      .call(d3.axisBottom(pxScale));
	  line
	      .select('.line')
	      .transition()
	      .duration(1000)
	      .attr("d", d3.line()
		    .x(function(m) { return pxScale(d3.timeParse("%Y")(m.Year)) })
		    .y(function(d) { return pyScale(+d.Total) })
		   )
      }

      // If user double click, reinitialize the chart
      plot.on("dblclick",function(){
	  pxScale.domain(d3.extent(cdata, function(d) { return d3.timeParse("%Y")(d.Year); }))
	  plot.select('.cows') //the x-axis
	      .transition()
	      .duration(1000)
	      .call(d3.axisBottom(pxScale));
	  line
	      .select('.line')
	      .transition()
	      .attr("d", d3.line()
		    .x(function(d) { return pxScale(d3.timeParse("%Y")(d.Year)) })
		    .y(function(d) { return pyScale(+d.Total) })
		   )
      });
  };


  // some more helper functions!!
  var create_dict_range = function(data, y) {
      var dict = [];
      for(i = 0; i < Object.keys(data).length; i++) {
	  dict[i] = { "Year" : Object.keys(data)[i], "Total" : data[y] }
	  y++;;
      }
      return dict;
  }

  var year = 1901;

  
  ///////////////// BARCHART /////////////////

  var render_bar_chart = function(e) {

      var rcdatas = pick(cdatas,  [year, year+1, year+2, year+3, year+4,
				   year+5, year+6, year+7, year+8, year+9]);

      var rcdata = create_dict_range(rcdatas, year);
      console.log(rcdata);
      
      var svg = d3.select("#plotchart"),
	  margin = 200,
	  width = svg.attr("width") - margin,
	  height = svg.attr("height") - margin

      svg.append("text")
	  .attr("transform", "translate(100,0)")
	  .attr("x", 400)
	  .attr("y", 50)
	  .attr("font-size", "28px")
	  .text("CO2 Emissions vs. Years")
	  .attr("class", "x")
	  .attr("class", "y")

      var g = svg.append("g")
	  .attr("transform", "translate(" + 100 + "," + 100 + ")");

      var tip = d3.tip()
	  .attr('class', 'd3-tip')
	  .offset([-10, 0])
	  .html(function(d) {
	      return "<strong>" + +d.Year + ":</strong> <span style='color:red'>" + +d.Total + "</span>";
	  });

      svg.call(tip);

      xScale = d3.scaleBand()
	  .domain(rcdata.map(function(d) { return d.Year; }))
	  .range([0, width])
	  .padding(0.2);
      g.append("g")
	  .attr("class", "x")
	  .attr("transform", "translate(0," + height + ")")
	  .call(d3.axisBottom(xScale))
	  .append("text")
	  .attr("font-size", "14px")
	  .attr("x", 550)
	  .attr("y", 50)
          .attr("stroke", "black")
          .text("Years");

      yScale = d3.scaleLinear()
	  .domain([0, d3.max(rcdata, function(d) { return +d.Total; })])
	  .range([height, 0])
	  .nice();
      g.append("g")
	  .attr("class", "pigs")
	  .attr("x", -50)
	  .call(d3.axisLeft(yScale))
	  .append("text")
	  .attr("transform", "rotate(-90)")
          .attr("dy", "-4.5em")
	  .attr("dx", "-4.0em")
	  .attr("font-size", "14px")
          .attr("stroke", "black")
          .text("Total carbon emissions (million metric tons of C)");

      color_scale = d3.scaleQuantile()
	  .range(["#b5f7aa","#b5f7aa","#b5f7aa","#b5f7aa","#b5f7aa","#b5f7aa", "#66de52",  "#66de52", "#66de52", "#23ae0c","#23ae0c", "#0e6600"])
      
      x_axis = d3.axisBottom().scale(xScale);
      y_axis = d3.axisLeft().scale(yScale);

      g.selectAll(".bar")
          .data(rcdata)
          .enter().append("rect")
          .attr("class", "bar")
	  .attr("fill", "#83ee72")
          .attr("x", function(d) { return xScale(d.Year); })
          .attr("y", function(d) { return yScale(d.Total); })
          .attr("width", xScale.bandwidth())
          .attr("height", function(d) { return height - yScale(d.Total); })
	  .on('mouseover', tip.show)
	  .on('mouseout', tip.hide);

  };

  
  // function for drawing each separate data range
  var draw = function(year) {

      if (year + 10 <= 2010) year += 10;
      console.log(year);
      
      var csv_datas = pick(cdatas, [year, parseInt(year)+1, parseInt(year)+2,
				    parseInt(year)+3, parseInt(year)+4,
				    parseInt(year)+5, parseInt(year)+6,
				    parseInt(year)+7, parseInt(year)+8,
				    parseInt(year)+9]);;

      var csv_data = create_dict_range(csv_datas, year);
      console.log(csv_data);

      var t = d3.transition()
	  .duration(2000);

      var years = csv_data.map(function(d) { return +d.Year; });
      xScale.domain(years); //setting x scale to the chosen domain

      //setting y scale to range of chosen domain
      yScale.domain([0, d3.max(csv_data, function(d) { return +d.Total; })]);

      color_scale.domain([0, d3.max(csv_data, function(d) { return +d.Total; })]);

      
      var svg = d3.select("#plotchart");
      
      var bars = svg.selectAll('.bar')
	  .data(csv_data) //setting the data to the chosen range of years

      bars
	  .exit()
	  .remove(); // remove the previous bars

      var new_bars = bars  // the new bars
	  .enter()
	  .append('rect')
	  .attr('class', 'bar')
	  .attr('x', function(d) { return xScale(+d.Year); })
	  .attr('width', xScale.bandwidth())
	  .attr('y', function(d) { return yScale(d.Total); })
	  .attr('height', 0)

      new_bars.merge(bars)
	  .transition(t)
	  .attr('y', function(d) {
	      return yScale(+d.Total);
	  })
	  .attr('height', function(d) {
	      return 400 - yScale(+d.Total);
	  })
	  .attr('fill', function(d) {
              return color_scale(+d.Total);
          })


      svg.select('.x')
	  .transition(t)
	  .call(x_axis);

      svg.select('.pigs')
	  .transition(t)
	  .call(y_axis);
  }

  /// switchy switcharoo stuff ///
  
  var num = 0; // 0 is bar chart, 1 is line graph

  var hide_bar_chart = function(e) {
      d3.select("#plotchart").selectAll("*").remove();
      document.getElementById("change_graphs").innerHTML = 'Change to Bar Chart';
      document.getElementById("year").style.display = "none";
      document.getElementById("description").innerHTML = 'Highlight an area to zoom in, double click to reset!';
      num = 1;
  };

  var hide_line_graph = function(e) {
      d3.select("#plotchart").selectAll("*").remove();
      document.getElementById("change_graphs").innerHTML = 'Change to Line Graph';
      document.getElementById("year").style.display = "block";
      document.getElementById("description").innerHTML = 'Select from a range of years here!';
      num = 0;
  };

  var switch_graphs = function(e) {
      if (num == 0) {
	  hide_bar_chart();
	  render_line_graph();
      }
      else {
	  hide_line_graph();
	  render_bar_chart();
      };
  };
      
  render_bar_chart();
  
  var changebutton = document.getElementById("change_graphs");
  changebutton.addEventListener('click', switch_graphs);

  var select = d3.select('#year');
  select.on('change', function() {
      console.log(this.value);
      draw(this.value);
  })
  
  
  //////////////////////////////	PIE CHARTS		////////////////////////////////

  // some even more helper functions!!

  var keys = Object.keys(countryEmissions);
  
  var create_dict = function(y) {
      var dict = []
      for (i = 0; i < keys.length; i++) {
	  dict[i] = {"Country" : keys[i], "Total" : countryEmissions[keys[i]][y]}
	  y++;
      }
      return dict;
  }
  
  var year = 1901;
  
  // set the dimensions and margins of the graph
  var width = 450
  height = 450
  margin = 40
  
  // The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
  var radius = Math.min(width, height) / 2 - margin
  
  // append the svg object to the div called 'my_dataviz'
  var svg = d3.select("#my_dataviz")
      .append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g")
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
 
  var data1 = create_dict(year);

  // set the color scale
  var color = d3.scaleOrdinal()
      .domain(keys)
      .range([ "#e6194b","#f58231","#ffe119","#bcf60c","#3cb44b","#46f0f0","#4363d8","#911eb4","#f032e6","#808080", "#fabebe","#ffd8b1","#fffac8","#aaffc3","#e6beff","#800000","#9a6324","#808000","#008080","#000075","#000000" ]);
  
  // A function that create / update the plot for a given variable:
  function update(data) {
      
      // Compute the position of each group on the pie:
      var pie = d3.pie()
	  .value(function(d) { return d.value['Total'] })
	  .sort(function(a, b) { return d3.ascending(a.key, b.key);} ) // This make sure that group order remains the same in the pie chart
      var data_ready = pie(d3.entries(data))

      var div = d3.select("#my_dataviz").append("div")
	  .attr("class", "tooltip-pie")
	  .style("opacity", 0);
      // map to data
      var u = svg.selectAll("path")
	  .data(data_ready)
	  .on("mouseover", function (d, i) {
	      d3.select(this).transition()
		  .duration('50')
		  .attr('opacity', '.5')
	      div.transition()
		  .duration(50)
		  .style("opacity", 1);
	      info = d.data.value['Country'] + " : " + d.value + " million metric tons of C"
	      div.html(info)
		  .style("left", (d3.event.pageX + 10) + "px")
		  .style("top", (d3.event.pageY - 15) + "px");     
	  })
	  .on('mouseout', function (d, i) {
              d3.select(this).transition()
		  .duration('50')
		  .attr('opacity', '1');
	      div.transition()
		  .duration('50')
		  .style("opacity", 0);
	  }); 
      
      // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
      u
	  .enter()
	  .append('path')
	  .merge(u)
	  .transition()
	  .duration(1000)
	  .attr('d', d3.arc()
		.innerRadius(0)
		.outerRadius(radius)
	       )
      
	  .attr('fill', function(d){ return(color(d.data.key)) })
	  .attr("stroke", "white")
	  .style("stroke-width", "1px")
	  .style("opacity", 1);
      // remove the group that is not present anymore
      u
	  .exit()
	  .remove()
  }
  
  // Initialize the plot with the first dataset
  update(data1)

  var move_forward = function() {
      if (year+10 <= 2010) { year += 10; };
      data1 = create_dict(year);
      update(data1);
      document.getElementById("label").innerHTML = '   Currently showing: ' + year;
  }

  var move_back = function() {
      if (year-10 >= 1901) { year -= 10; };
      data1 = create_dict(year);
      update(data1);
      document.getElementById("label").innerHTML = '   Currently showing: ' + year;
  }

  var cake = 0; // 0 is shown, 1 is hidden

  var hide_pie = function(e) {
      document.getElementById("pie").innerHTML = 'Display Pie Chart';
      document.getElementById("my_dataviz").style.display = "none";
      document.getElementById("change").style.display = "none";
      document.getElementById("change1").style.display = "none";
      document.getElementById("label").style.display = "none";
      document.getElementById("desc").style.display = "none";
      cake = 1;
  };

  var show_pie = function(e) {
      document.getElementById("pie").innerHTML = 'Hide Pie Chart';
      document.getElementById("my_dataviz").style.display = "block";
      document.getElementById("change").style.display = "inline";
      document.getElementById("change1").style.display = "inline";
      document.getElementById("label").style.display = "inline";
      document.getElementById("desc").style.display = "inline";
      cake = 0;
  };

  var pie_chart = function(e) {
      if (cake == 0) {
	  hide_pie();
      }
      else {
	  show_pie();
      };
  };

  var changebutton = document.getElementById("change");
  changebutton.addEventListener('click', move_forward);

  var changebutton1 = document.getElementById("change1");
  changebutton1.addEventListener('click', move_back);

  var display_pie = document.getElementById("pie");
  display_pie.addEventListener('click', pie_chart);

</script>



{% endblock %}
