{% extends "base.html" %}

{% block title %}
CO2 Emissions
{% endblock %}

{% block body %}
<br><br><br><br><br>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../static/d3-tip.js"></script>
<center>

  <button class="btn btn-success btn-lg" id="change_graphs">Change to Line Graph</button> 
  
  <br><br>

  <div class="slidecontainer" id="slider">
    <form class="range-field">
      <label for="year_range">Scroll for a range of years: </label>
      <input type="range" min=1760 max=2010 step=10 id="year_range" value="2010" oninput="selected_year.value = year_range.value">
      <output name="selected_year" id="selected_year">1760 - 1770</output>
    </form>
  </div>
  
  <br>
  
  <svg id="plotchart" width="1300" height="650" style="border:4px solid green"></svg>
 
  <br>

  
</center>

<br><br>

<style>
  
  .bar {
      fill: #83ee72 ;
  }

  .bar:hover {
      fill:  #1a9a05 ;
  }

  .axis {
      font: 4px sans-serif;
  }

  .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 8px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 2px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.5);
      content: "\25BC";
      position: absolute;
      text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
  }

  .slidecontainer {
      width: 100%; /* Width of the outside container */
  }

  
</style>

<script>

  var cdata = {{ globalEmissions }}
  console.log(cdata);

  ///////////////// LINE GRAPH ///////////////// 

  var render_line_graph = function(e) {
  
      var plot = d3.select("#plotchart"),
	  margin = 200,
	  width = plot.attr("width") - margin,
	  height = plot.attr("height") - margin

      plot.append("text")
	  .attr("transform", "translate(100,0)")
	  .attr("x", 400)
	  .attr("y", 50)
	  .attr("font-size", "28px")
	  .text("CO2 Emissions vs. Years")

      var pxScale = d3.scaleTime().range([0, width]),
	  pyScale = d3.scaleLinear().range([height, 0]);
      
      var p = plot.append("g")
	  .attr("transform", "translate(" + 100 + "," + 100 + ")");
      
      d3.csv("../static/co2-global.csv", //function(data){

	  function(m) {
	      return { date : d3.timeParse("%Y")(+m.Year), Total : +m.Total }
	  },

	  function(data) {
	     
	  //pxScale.domain(data.map(function(d) { return +d.Year; }));
	  pxScale.domain(d3.extent(data, function(m) { return m.date; })); 
	  pyScale.domain([0, d3.max(data, function(d) { return +d.Total; })]);  
	  
	  xAxis = p.append("g")
	      //.attr("class", "axis")
	      .attr("transform", "translate(0, 450)")
	      //.tickformat(d3.timeFormat("%Y"))
	      .call(d3.axisBottom(pxScale))
	      .selectAll("text")	
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", ".19em")
              .attr("transform", "rotate(-65)")
	      .append("text");

	  // Add the Y Axis
	  yAxis = p.append("g")
              .call(d3.axisLeft(pyScale))
	      .append("text")
              .attr("transform", "rotate(-90)")
              .attr("dy", "-4.5em")
	      .attr("dx", "-4.0em")
	      .attr("font-size", "14px")
              .attr("stroke", "black")
              .text("Total carbon emissions (million metric tons of C)")

	  
	  var clip = plot.append("defs").append("svg:clipPath")
              .attr("id", "clip")
              .append("svg:rect")
              .attr("width", width )
              .attr("height", height )
              .attr("x", 0)
              .attr("y", 0);
	  
	  // Add brushing
	  var brush = d3.brushX()                   // Add the brush feature using the d3.brush function
              .extent( [ [0,0], [width,height] ] )  // initialise the brush area: start at 0,0 and finishes at width,height: it means I select the whole graph area
              .on("end", updateChart)               // Each time the brush selection changes, trigger the 'updateChart' function

	  // Create the line variable: where both the line and the brush take place
	  var line = p.append("g")
	      .attr("clip-path", "url(#clip)")

	  line.append("path")
	      .datum(data)
	      .attr("class", "line")
	      .attr("fill", "none")
	      .attr("stroke", "green")
	      .attr("stroke-width", 1.8)
	      .attr("d", d3.line()
		    .x(function(m) { return pxScale(m.date) })
		    .y(function(d) { return pyScale(+d.Total) }));

	  line
	      .append("g")
              .attr("class", "brush")
              .call(brush);

	  //console.log(pxScale.invert(extent[0]));
	  
	  var idleTimeout
	      function idled() { idleTimeout = null; }

	      //TO DO : make it so highlighting regions and zooming in will change axes

	  function updateChart() {

	      // What are the selected boundaries?
	      extent = d3.event.selection
	      //console.log(extent);
	      
	      
	      // If no selection, back to initial coordinate. Otherwise, update X axis domain
	      if(!extent){
		  console.log("hi");
		  if (!idleTimeout) return idleTimeout = setTimeout(idled, 350); // This allows to wait a little bit
		  pxScale.domain([4,8])
	      }else{
		  console.log(pxScale.invert(extent[0]));
		  pxScale.domain([ pxScale.invert(extent[0]), pxScale.invert(extent[1]) ])
		  line.select(".brush").call(brush.move, null) // This remove the grey brush area as soon as the selection has been done
	      }

	      // Update axis and line position
	      xAxis.transition().duration(1000).call(d3.axisBottom(pxScale))
	      line
		  .select('.line')
		  .transition()
		  .duration(1000)
		  .attr("d", d3.line()
			.x(function(m) { return pxScale(m.date) })
			.y(function(d) { return pyScale(+d.Total) })
		       )
	  }

	  // If user double click, reinitialize the chart
	  plot.on("dblclick",function(){
	      pxScale.domain(d3.extent(data, function(m) { return m.date; }))
	      xAxis.transition().call(d3.axisBottom(pxScale))
	      line
		  .select('.line')
		  .transition()
		  .attr("d", d3.line()
			.x(function(m) { return pxScale(m.date) })
			.y(function(d) { return pyScale(+d.Total) })
		       )
	  });

      });

  };

  
  ///////////////// BARCHART /////////////////

  var render_bar_chart = function(e) {
      
      var svg = d3.select("#plotchart"),
	  margin = 200,
	  width = svg.attr("width") - margin,
	  height = svg.attr("height") - margin

      svg.append("text")
	  .attr("transform", "translate(100,0)")
	  .attr("x", 400)
	  .attr("y", 50)
	  .attr("font-size", "28px")
	  .text("CO2 Emissions vs. Years")

      var xScale = d3.scaleBand().range([0, width]).padding(0.2),
	  yScale = d3.scaleLinear().range([height, 0]);

      var x_axis = d3.axisBottom(xScale),
	  y_axis = d3.axisLeft(yScale);
      
      
      var g = svg.append("g")
	  .attr("transform", "translate(" + 100 + "," + 100 + ")");

      var tip = d3.tip()
	  .attr('class', 'd3-tip')
	  .offset([-10, 0])
	  .html(function(d) {
	      return "<strong>" + +d.Year + ":</strong> <span style='color:red'>" + +d.Total + "</span>";
	  });

      svg.call(tip);

      d3.csv("../static/co2-global.csv", function(data) {
	  
	  xScale.domain(data.map(function(d) { return +d.Year; }));
	  yScale.domain([0, d3.max(data, function(d) { return +d.Total; })]);

	  g.append("g")
	      .attr("class", "axis")
	      .attr("transform", "translate(0," + height + ")")
	      .call(d3.axisBottom(xScale))
	      .selectAll("text")
	      .style("text-anchor", "end")
	      .attr("dx", "-2em")
              .attr("dy", ".1em")
	      .attr("y", -0.01)
	      .attr("transform", "rotate(-90)")
	      .append("text");


	  // supposed to be the label for x-axis but doesn't work....
	  g.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(xScale))
          //.attr("y", height - 250)
          //.attr("x", width - 100)
              .attr("text-anchor", "end")
              .attr("stroke", "black")
              .text("Year");

	  g.append("g")
              .call(d3.axisLeft(yScale)) //.tickFormat(function(d){
	  //return "$" + d;
	  //})
	  //.ticks(10)
              .append("text")
              .attr("transform", "rotate(-90)")
              .attr("dy", "-5.1em")
              .attr("text-anchor", "front")
              .attr("stroke", "black")
	  //.attr("font-size", "24px")
              .text("Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)");

	  g.selectAll(".bar")
              .data(data)
              .enter().append("rect")
              .attr("class", "bar")
              .attr("x", function(d) { return xScale(d.Year); })
              .attr("y", function(d) { return yScale(d.Total); })
              .attr("width", xScale.bandwidth())
              .attr("height", function(d) { return height - yScale(d.Total); })
	      .on('mouseover', tip.show)
	      .on('mouseout', tip.hide);
	  
      });

  };

  var num = 0; // 0 is bar chart, 1 is line graph

  var hide_bar_chart = function(e) {
      //d3.select("#barchart").remove();
      d3.select("#plotchart").selectAll("*").remove();
      document.getElementById("change_graphs").innerHTML = 'Change to Bar Chart';
      document.getElementById("slider").style.display = "none";
      num = 1;
  };

  var hide_line_graph = function(e) {
      d3.select("#plotchart").selectAll("*").remove();
      document.getElementById("change_graphs").innerHTML = 'Change to Line Graph';
      document.getElementById("slider").style.display = "block";
      num = 0;
  };

  var switch_graphs = function(e) {
      if (num == 0) {
	  hide_bar_chart();
	  render_line_graph();
      }
      else {
	  hide_line_graph();
	  render_bar_chart();
      };
  };
      
  render_bar_chart();
  
  var changebutton = document.getElementById("change_graphs");
  changebutton.addEventListener('click', switch_graphs);
      

  

  // TODO- once function is written, create seperate array things of different time periods, add slider

  var year = 1901;

//function here for parsing through the array of csv values generated by the csv reader function and putting it into usable ranges
  
  // function for drawing each separate data range
  function draw(year) {
      
      var csv_data = cdata[year];

      var t = d3.transition()
	  .duration(2000);

      var years = csv_data.map(function(d) { return +d.Year; });
      xScale.domain(years); //setting x scale to the chosen domain

      var max_emissions = d3.max(csv_data, function(d) { return +d.Total; });
      yScale.domain([0, max_emissions]); //setting y scale to range of chosen domain

      var bars = svg.selectAll('.bar')
	  .data(csv_data) //setting the data to the chosen range of years

      bars
	  .exit()
	  .remove(); //i'm assuming some kind of transition

      var new_bars = bars
	  .enter()
	  .append('rect')
	  .attr('class', 'bar')
	  .attr('x', function(d) { return xScale(+d.Year); })
	  .attr('width', xScale.bandwidth())
	  .attr('y', height)
	  .attr('height', 0)

      new_bars.merge(bars)
	  .transition(t)
	  .attr('y', function(d) {
	      return yScale(+d.Total);
	  })
	  .attr('height', function(d) {
	      return height - yScale(+d.Total);
	  })

      svg.select('.x.axis')
	  .call(x_axis);

      svg.select('.y.axis')
	  .transition(t)
	  .call(y_axis);
  }

      
  // the queue stuff

  var slider = d3.select('#year_range');
  slider.on('change', function() {
      draw(this.value);
  });
 
      
      
      // array of csv data
      //const datas = d3.csvParse(await FileAttachment("../static/co2-emissions.csv").text(), d3.autoType);
      //console.log(datas);
     /* data = {
	  const text = await FileAttachment("../static/co2-emissions.csv").text();
	  const parseData = d3.utcParse("%Y");
	  return d3.csvParse(text, ({date, temperature}) => ({
	      date: parseDate(Year),
	      temperature: +Total
	  }));
      }

      var x = d3.scaleLinear()
	  .domain([0, d3.max(data, d => d.Year)])
	  .range([margin.left, width - margin.right])

      var y = d3.scaleBand()
	  .domain(data.map(d => d.Total))
	  .range([margin.top, height - margin.bottom])
	  .padding(0.1)
	  .round(true)
      
      var help = data.map(d => d.Total)
      import {chart as temperatureHistogram} with {temperatures as data, height} from "@d3/histogram" */
      

      /*d3.csv("../static/co2-emissions.csv", function(data) {
	  xScale.domain(data.map(function(d) { return d.Year; }));
	  yScale.domain([0, d3.max(data, function(d) {return d.Total;})]);

	  g.append("g")
              .attr("transform", "translate(0," + 100 + ")")
              .call(d3.axisBottom(xScale));

          g.append("g")
              .call(d3.axisLeft(yScale).tickFormat(function(d){
                  return d;
              }).ticks(10));
          
          g.selectAll(".bar")
              .data(data)
              .enter().append("rect")
              .attr("class", "bar")
              .attr("x", function(d) { return xScale(d.Year); })
              .attr("y", function(d) { return yScale(d.Total); })
              .attr("width", xScale.bandwidth())
              .attr("height", function(d) { return 100 - yScale(d.degrees); });
	      }); */

  
  

</script>



{% endblock %}
