{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block body %}
<br><br><br><br><br>
<div class="p-3 container text-center bg-white">
  <h1 class="text-success">Welcome to Green Graphs!</h1>
  <p class="text-success">by Hilary Zen, Pratham Rawat, Leia Park & Alice Ni</p>
</div>

<br><br>

<div class="container text-center">
  <form method="GET" action="/temperature">
    <button class="btn btn-success btn-lg btn-block">Global Temperature Anomaly</button>
  </form>
  
  <br>
  <form method="GET" action="/emissions">
    <button class="btn btn-info btn-lg btn-block">Carbon Dioxide Emissions</button>
  </form>

  <br>
  <form method="GET" action="/compare">
    <button class="btn btn-primary btn-lg btn-block">Compare Data</button>
  </form>
  

</div>

<br><br>

<div id="observablehq-63717898"></div>

<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
  import define from "https://api.observablehq.com/@d3/versor-dragging.js?v=3";
  const inspect = Inspector.into("#observablehq-63717898");
  (new Runtime).module(define, name => (name === "chart") && inspect());
</script>






{% endblock %}
