{% extends "base.html" %}

{% block title %}
Average Temperature Anomaly
{% endblock %}

{% block body %}
<center>
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="../static/d3-tip.js"></script>
  <svg id="temperatureAnomalyGraph" style="border:4px solid green">
  </svg>
</center>

<script>
    height = 650
    width = 1300

    const svg = d3.select("#temperatureAnomalyGraph")

    svg.append("text")
	  .attr("transform", "translate(100,0)")
	  .attr("x", 400)
	  .attr("y", 50)
	  .attr("font-size", "28px")
	  .text("Global Temperature Anomaly 1901-2010")


    const anomalyData = {{ globalTemp }}

    console.log(anomalyData)

    xAxisData = Object.keys(anomalyData)
    yAxisData = Object.values(anomalyData)

    xAxisData.forEach(d => parseInt(d))
    yAxisData.forEach(d => parseFloat(d))

    xAxisScale = d3.scaleBand()
        .domain(d3.range(xAxisData.length))
        .range([0, width - 200])

    yPositiveAxisScale = d3.scaleLinear()
        .domain([0, d3.max(yAxisData)])
        .range([0, 206])

    yNegativeAxisScale = d3.scaleLinear()
        .domain([0, -d3.min(yAxisData)])
        .range([0, 118])

    yScale = function(d, i) {

    }


    yAxisLabelScale = d3.scaleLinear()
        .domain([d3.min(yAxisData), d3.max(yAxisData)])
        .range([0, -height / 2])

    colorScale = d3.scaleLinear()
        .domain([d3.min(yAxisData), d3.max(yAxisData)])
        .range(["green", "red"])
        .interpolate(d3.interpolateHcl);

    svg
        .attr("height", height)
        .attr("width", width)

    let negativo = function(value) {
        if(value < 0) {
            return height / 2
        }
        return height / 2 - yPositiveAxisScale(value)
    }

    const bars = svg.selectAll("g")
        .data(yAxisData)
        .join("g")
            .attr("transform", (d, i) => `translate(${xAxisScale(i) + 100}, ${negativo(d) + 100})`);;

    bars.append("rect")
        .attr("fill", colorScale)
        .attr("width", xAxisScale.bandwidth() - 1)
        .attr("height", d => {
            if(d > 0) return yPositiveAxisScale(d)
            else return yNegativeAxisScale(-d)
        });

    yAxis = svg.append("g")
        .call(d3.axisLeft(yAxisLabelScale))
            .attr("transform", "translate(100, 550)")
        .append("text")
            .attr("transform", "rotate(-90)")
            .attr("dy", "-3.5em")
            .attr("dx", "25em")
            .attr("font-size", "14px")
            .attr("stroke", "black")
            .text("Global Temperature Anomaly (% difference from baseline)")

    var tip = d3.tip()
	  .attr('class', 'd3-tip')
	  .offset([-10, 0])
	  .html(function(d, i) {
          console.log("bruh")
	      return "<strong>" + +xAxisData[i] + ":</strong> <span style='color:#ff0000'>" + +yAxisData[i] + "</span>";
	  });

    svg.call(tip);

    bars
	  .on('mouseover', tip.show)
	  .on('mouseout', tip.hide);

</script>

<style>
    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 8px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 2px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.5);
      content: "\25BC";
      position: absolute;
      text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
  }

    svg {
        position: relative;
        top: 100px;
        margin-left: 50px;
        margin-right: auto;
        border-color: black;
        border-style: solid;
        border-width: 2px;
    }
</style>
{% endblock %}
